<ion-menu [content]="content">
  <ion-header >
    <ion-toolbar >
      <img src="img/quantum.png" center>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    
      <ion-list no-padding>
        
          <button ion-item tappable menuClose (click)="staticgoPage('HomePage')">
            Home
            <!-- <ion-icon ios="ios-arrow-forward" item-right md="md-arrow-forward"></ion-icon> -->
          </button>
       
       
          <button ion-item tappable menuClose (click)="staticgoPage('AboutusPage')">
            <!-- <ion-icon ios="ios-people" md="md-people"></ion-icon> -->
            About Us
            <!-- <ion-icon ios="ios-arrow-forward" item-right md="md-arrow-forward"></ion-icon>             -->
          </button>
        
        <div *ngFor="let d of menu">
          <ion-item tappable (click)="toggleDetails(d)">
            <!-- <ion-icon   name="ios-home" item-left></ion-icon> -->
            {{d.title}}
            <ion-icon  style="color:#999999" [name]="d.icon" item-right></ion-icon>
          </ion-item>
          <div class="sub-menu" *ngIf="d.showDetails">
            <button ion-item tappable menuClose item-right *ngFor="let item of d.items" (click)="openPage(item)">
              <!-- <ion-icon  color="gray" [name]="d.iconLeft" item-left></ion-icon>   -->
              <p padding-left>{{item.name}}</p>
              <!-- <ion-icon ios="ios-arrow-forward" item-right md="md-arrow-forward"></ion-icon> -->
            </button>
          </div>
        </div>
        
          <button ion-item tappable menuClose (click)="staticgoPage('PartnersPage')">
            Partners
            <!-- <ion-icon ios="ios-arrow-forward" item-right md="md-arrow-forward"></ion-icon>             -->
          </button>
       
        
          <button ion-item tappable menuClose (click)="staticgoPage('EmiCalculatorPage')">
            Emi-Calculator
            <!-- <ion-icon ios="ios-arrow-forward" item-right md="md-arrow-forward"></ion-icon> -->
          </button>
        
        
          <button ion-item tappable menuClose (click)="staticgoPage('ContactUsPage')">
            Contact Us
            <!-- <ion-icon ios="ios-arrow-forward" item-right md="md-arrow-forward"></ion-icon> -->
          </button>
        
        <!-- <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button> -->
      </ion-list>
    
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
